html { 
	background: #555 url(bgcover.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	   -moz-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;

	font-family: Futura, "Gill Sans", "Century Gothic", "Dejavu Sans", "Trebuchet MS", sans-serif ;
	color: white;

	margin-left: 15%;
	margin-right: 15%;
}

h1 {
	font-style: italic;
	font-size: 48pt;
}

ol, a, table {
	font-size: 24pt;
}

td:first-child {
	min-width: 290px;
	vertical-align: top;
}

td + td {
	padding-left: 24px;
}

table + p {
	margin-top: 60px;
}

a {
	color: white;
	text-decoration: none;
	border-bottom: solid 4px white;
}

.ext {
	text-decoration: none;
	border-bottom: none;
}

.ext:after {
	margin-left: 10px;
	content: url("external.png");
}

ol {
	list-style-type: circle;
}